* {
  outline: none;
  font-size: 18px;
  font-weight: 500;
}

/* input[type="button"]{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
} */

button:active,
button:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  padding-inline: 0.3rem;
  padding-block: 0.15rem;
}

.flex {
  display: flex;
}

.gap-half {
  gap: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-big {
  font-size: 1.125rem;
}

.text-bigger {
  font-size: 1.5rem;
  font-weight: 600;
}

.border {
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}

.currency-container {
  display: flex;
  flex-direction: column;
}

.LbBackground {
  background-image: url(images/lebanon-flag.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  appearance: none;
  background-color: #000000;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #ff1f1f;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

/* .button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
} */

.button:active {
  background-color: #ff3232;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.reset-button{
  background-color: red;
  width: 10rem;
  height: 2rem;
  outline: none;
  border: black 2px solid;
}